/*
	Styles for Project Hacker!
*/

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');

*{
	box-sizing: border-box;
	transition: 0.1s;
}

body{
	padding: 0;
	margin: 0;
	background: #ffffff;
	color: #343a40;
	font-size: 1em;
	line-height: 1.6;
	font-family: 'Lato','Montserrat',sans-serif;
}

main{
	padding: 1.5rem;
	margin: 0;
	max-width: 100vw;
	min-height: 100vh;
	border-left: 0.5rem solid #404deb;
}

#headercontainer{
	padding: 1rem;
	padding-left: 0;
	border-bottom: 0.3rem solid #000000;
	display: inline-block;
	font-size: 2.6em;
}

#header{
	color: #000000;
	display: inline-block;
}

.blinker{
	animation: blink 1s step-end infinite;
}

@keyframes blink{
	from,to{opacity:1}
	50%{opacity:0}
}

@-webkit-keyframes blink{
	from,to{opacity:1}
	50%{opacity:0}
}

#response{
	padding: 0.8rem;
	display: none;
	background: #2d3034;
	color: #ffffff;
	border-radius: 0.15rem;
	font-family: 'Montserrat','Lato',sans-serif;
}

#response1{
	display: none;
}

#topicform{
	color: #ffffff;
}

#topicform input{
	padding: 0.7rem;
	color: #000000;
	font-family: 'Montserrat',sans-serif;
	width: 100%;
	border: none;
	outline: none;
	border: 0.1rem solid #dfdfdf;
	border-radius: 0.1rem;
	font-size: 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

#topicform button{
	color: #ffffff;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
	background: #4f15d6;
	padding: 1rem;
	border-radius:0.15rem;
	border: none;
	outline: none;
}

#copybutton{
	padding: 1rem;
	color: #ffffff;
	cursor: pointer;
	background: #00ad9f;
	border-radius: 0.15rem;
	display: none;
	font-size: 0.85em;
	box-shadow : rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
}

@media only screen and (max-width:900px),(max-height:400px){
	/*	TABLETS	*/

	#headercontainer{
		font-size: 2em;
	}
}

@media only screen and (max-width:600px),(max-height:300px){
	/*	TABLETS	*/

	#headercontainer{
		font-size: 1.5em;
	}
}